[submodule "MontyCarlo/demos/MyCo-EXAMPLE1"]
	path = MontyCarlo/demos/MyCo-EXAMPLE1
	url = https://github.com/RuiFilipeCampos/MyCo-EXAMPLE1.git
[submodule "demos/PDDcalc"]
	path = demos/PDDcalc
	url = https://github.com/RuiFilipeCampos/PDDcalc.git
	branch = master
[submodule "demos/MyCo-EXAMPLE1"]
	path = demos/MyCo-EXAMPLE1
	url = https://github.com/RuiFilipeCampos/MyCo-EXAMPLE1.git
	branch = master
[submodule "db/elsepa"]
	path = db/elsepa
	url = https://github.com/eScatter/elsepa.git
	branch = master
[submodule "db/generate_elastic/elsepa"]
	path = db/generate_elastic/elsepa
	url = https://github.com/eScatter/elsepa.git
	branch = master
