recursive-include MontyCarlo *.txt
recursive-include MontyCarlo *.npy
recursive-include MontyCarlo *.dat
recursive-include MontyCarlo *.pyx
recursive-include MontyCarlo *.pxd
recursive-include MontyCarlo *.py
recursive-include MontyCarlo IntervalArithmetics.cpp
recursive-include MontyCarlo IntervalArithmetics.h
recursive-include MontyCarlo cppRelax.*
recursive-include MontyCarlo nrc_brems*
recursive-include MontyCarlo/*/mixmax_release_200final *
